@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: $text-primary;
}
body {
  font-family: $font-family;
  background-color: $bg-main;
}