@import 'variables';

@mixin button-green-fill {
  background: $text-accent-100;
  @include font-second-title-lg;
  text-align: center;
  border: none;
  cursor: pointer;
  color: $bg-main;
  transform: translateY(0) scale(1);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: all 0.3s ease;

  &:hover {
    background: darken($text-accent-100, 10%);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    color: $bg-main;
  }
}
@mixin button-green-border {
  border: 1px solid $text-accent-100;
  background: $bg-main;
  @include font-second-title-lg;
  text-align: center;
  cursor: pointer;
  color: $text-primary;

  transform: translateY(0) scale(1);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: all 0.3s ease;

  &:hover {
    background: darken($text-accent-100, 10%);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    color: $bg-main;
  }
}