@import 'variables';

@mixin button-green-fill {
  background: $text-accent-100;
  @include font-second-title-lg;
  text-align: center;
  border: none;
  cursor: pointer;
  color: $bg-main;
}
@mixin button-green-border {
  border: 1px solid $text-accent-100;
  background: $bg-main;
  @include font-second-title-lg;
  text-align: center;
  cursor: pointer;
  color: $bg-main;
}