@font-face {
  font-family: 'DMMono';
  src: url('../fonts/DMMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Audiowide';
  src: url('../fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
