/* 1. Настройки и шрифты */
@import 'variables';
@import 'fonts';

/* 2. Базовые стили */
@import 'base';

/* 3. Сетка и общие элементы */
@import 'layout';

@import 'components/_header';
@import 'components/_hero';
@import 'components/_collection';
@import 'components/_marquee';
@import 'components/_artists';