@charset "UTF-8";
/* 1. Настройки и шрифты */
@font-face {
  font-family: "DMMono";
  src: url("../fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 2. Базовые стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #FFFFFF;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
}

/* 3. Сетка и общие элементы */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 100px;
  position: relative;
  z-index: 2;
  font-family: "DMMono", sans-serif;
}
.header__content {
  display: flex;
  align-items: center;
  padding-top: 48px;
}
.header__logo {
  margin-left: 140px;
}
.header__menu {
  padding-left: 40px;
}
.header__menu-list {
  display: flex;
  gap: 40px;
}
.header__links {
  padding-left: 507px;
  display: flex;
  gap: 12px;
}

.hero {
  position: relative;
  height: 653px;
}
.hero__content {
  display: flex;
}
.hero__information {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  width: 580px;
}
.hero__title {
  padding-top: 133px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 51px;
  line-height: 119%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero__description {
  padding-top: 43px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
.hero__button {
  width: 205px;
  height: 60px;
  margin-top: 115px;
  background: #8DFD1B;
  font-family: "DMMono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #000000;
  transform: translateY(0) scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.hero__button:hover {
  background: rgb(115.4956521739, 227.0086956522, 1.9913043478);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #000000;
}
.hero__image {
  width: 870px;
  height: 653px;
}

.collection {
  position: relative;
  height: 779px;
}
.collection__content {
  display: flex;
  flex-direction: row;
  padding-top: 114px;
}
.collection__block {
  padding-left: 40px;
}
.collection__title {
  padding-left: 66px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.collection__title .title-second {
  color: #A8A8A8;
}
.collection__image {
  margin-top: 41px;
  width: 360px;
  height: 360px;
}
.collection__information {
  display: flex;
  flex-direction: column;
  margin-left: 163px;
}
.collection__information-title {
  display: inline-block;
  padding-left: 22px;
  border-left: 2px solid #8DFD1B;
  font-family: "DMMono", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 152%;
  color: #8DFD1B;
}
.collection__information-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  padding-top: 32px;
}
.collection__button {
  border: 1px solid #8DFD1B;
  background: #000000;
  font-family: "DMMono", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  transform: translateY(0) scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  margin-top: 36px;
  width: 246px;
  height: 42px;
}
.collection__button:hover {
  background: rgb(115.4956521739, 227.0086956522, 1.9913043478);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #000000;
}

/*# sourceMappingURL=main.css.map */
