@import '../variables';
@import '../buttons';

.hero {
  position: relative;
  height: 653px;

  &__content {
    display: flex;
  }
  &__information {
    display: flex;
    flex-direction: column;
    margin-left: 72px;
    width: 580px;
  }
  &__title {
    padding-top: 133px;
    @include font-title-lg
  }
  &__description {
    padding-top: 43px;
    @include font-body-xl;
  }
  &__button {
    width: 205px;
    height: 60px;
    margin-top: 115px;
    @include button-green-fill;
  }
  &__image {
    width: 870px;
    height: 653px;
  }
}